body {
  font-family: 'Jua', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.Container {
  max-width: 500px;     /* 콘텐츠 최대 너비 */
  margin: 0 auto;        /* 화면 가운데 정렬 */
  padding: 20px;       /* 좌우 여백 */
  box-sizing: border-box;
  width: 100%;
}

.App {
  text-align: center; /* 안쪽 모든 요소를 중앙 정렬 */
  padding: 50px; /* 전체 패딩 50px */
}

.App-logo {
  width: 300px; /* 로고 너비 300px 고정 */
}

.App-description {
  margin-top: 30px; /* 위쪽 여백 30px */
  font-size: 20px; /* 글자 크기 20px */
  color: #333; /* 글자 색 어두운 회색 */
  line-height: 2; /* 줄 간격 2배 */
}

.App-description .checkIcon {
  color: red;
}

a {
  text-decoration: none; /* 링크 밑줄 제거 */
  display: inline-block; /* 링크 -> 인라인 블록으로 설정 : 중앙 정렬 */
}

.kakaotalk-logo {
  width: 30px; /* 로고 너비 30px */
  margin-right: 10px; /* 오른쪽에 여백 10px (텍스트와 간격) */
}

.kakaotalk-login-button {
  display: flex; /* 버튼 안 아이콘 + 텍스트를 가로 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-self: center; /* 수평 중앙 정렬 */

  font-family: 'Jua', sans-serif; /* 버튼 안 글자 폰트 */
  font-size: 18px; /* 버튼 글자 크기 */
  background-color: #FAE100;
  border: none; /* 테두리 제거 */
  border-radius: 10px; /* 모서리 둥글게 */
  padding: 15px 25px; /* 버튼 안쪽 여백 설정 */
  margin-top: 50px; /* 위쪽 여백 50px */
  cursor: pointer; /* 커서를 손가락 모양으로 */
}

.Suwon-login-button:hover {
  background-color: gray;
}


/* 폰 화면 사이즈 */
@media (max-width: 600px) {
  .App-logo {
    width: 240px; /* 더 크고 눈에 잘 띄게 */
  }

  .App-description {
    font-size: 18px;
    line-height: 1.8;
  }

  .Suwon-login-button {
    font-size: 18px;
    padding: 14px 24px;
  }

  .Suwon-logo {
    width: 24px;
    margin-right: 10px;
  }
}

/* 상단바 고정 */
.Header-logo {
  width: 30px;
}