.JobDetailPage {
  max-width: 500px; /* 콘텐츠 최대 너비 */
  margin: 0 auto; /* 화면 가운데 정렬 */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Jua', sans-serif;
}
  
.JobDetail-top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

/* 선택된 직업명 박스 (길이 자동 조정) */
.SelectedJob {
  background-color: #eaeaea;
  color: #333;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
  max-width: 90%;
  white-space: nowrap;
  text-align: center;
}
  
.ButtonList {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding: 0 16px;
}

/* 버튼 스타일 */
.JobDetailButton {
  background-color: #8791CB;
  color: white;
  font-size: 18px;
  border: none;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
  
.JobDetailButton:hover {
  background-color: #3F4279;
  font-weight: bold;
}

/* 폰 화면 사이즈 */
@media (max-width: 600px) {
  .JobDetailPage {
    padding: 10px;
  }

  .JobDetail-top {
    margin-bottom: 16px;
  }

  .SelectedJob {
    font-size: 14px;
    padding: 6px 12px;
  }

  .ButtonList {
    gap: 25px;
  }

  .JobDetailButton {
    font-size: 15px;
    padding: 12px;
  }
}