.JobSelectPage {
    max-width: 500px; /* 콘텐츠 최대 너비 */
    margin: 0 auto; /* 화면 가운데 정렬 */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .JobSelect-top {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .JobSelect-category {
    background-color: #8790CB;
    color: white;
    border: none;
    justify-self: start;
    padding: 8px 16px;
    border-radius: 15px;
    font-size: 16px;
  }
  
  .JobSelect-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 0 16px;
  }
  
  .JobSelect-button {
    background-color: #E8E9F0;
    font-size: 18px;
    border: none;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    cursor: pointer;
  }
  
  .JobSelect-button:hover {
    background-color: #BFC0CF;
    font-weight: bold;
  }
  
  /* 폰 화면 사이즈 */
  @media (max-width: 600px) {
    .JobSelectPage {
      padding: 10px;
    }
  
    .JobSelect-top {
      margin-bottom: 16px;
    }
  
    .JobSelect-category {
      font-size: 14px;
      padding: 6px 12px;
    }
  
    .JobSelect-list {
      gap: 10px;
    }
  
    .JobSelect-button {
      font-size: 15px;
      padding: 12px;
    }
  }